/* Mobile first */
body{
	background: #112c38;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	height: 100vh;
	justify-content:start;
	font-family: sans-serif;
}
h1, h2, h3{
	margin: 0 auto;
	padding: 0;
	color: #fff;
	text-transform: uppercase;
	font-size: 2em;
	letter-spacing: 6px;
	overflow: hidden;
	background: linear-gradient(90deg, #112c38, #345360, #112c38);
	background-repeat: no-repeat;
	background-size: 80%;
	animation: animate 3s linear infinite;
	-webkit-background-clip: text;
	-webkit-text-fill-color: rgba(255,255,255,.2);
}
h2, h3{
	margin: 0 auto;
	font-size: 1em;
	letter-spacing: normal;
}
h3{
	margin-bottom: 5%;
}
@keyframes animate{
	0%{
		background-position: -500%;
	}
	100%{
		background-position: 500%;
	}
}
div#nav{
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}
div#nav ul{
	padding: 0;
	margin: 0;
	display: flex;
	flex-direction:column;
}
div#nav ul li{
	list-style: none;
	margin: 0 20px;
	transition: .5s;
}
div#nav ul li a{
	display: block;
	position: relative;
	text-decoration: none;
	padding: 5px;	
	color: #fff;
	text-transform: uppercase;
	background: #99844F;	
	font-size:1.5em;
	margin: 10px auto;
	
}
div#lien ul{
	margin: 0;
	padding: 0;
}
div#lien ul li{
	list-style: none;
}
div#lien ul li a{
	display: block;
	position: relative;
	width: 60px;
	height: 60px;
	line-height: 60px;
	font-size: 1.5em;
	text-align: center;
	text-decoration: none;
	color: #fff;
	margin: 40px auto;
	border: 1px solid #fff;
}
@media (min-width:1024px){
	body{
	display: flex;
	flex-direction: column;
	justify-content: center;
}
	h1{
	font-size: 4em;
	letter-spacing: 10px;
}
div#nav ul{
	display:flex;
	flex-direction:row;
}

div#nav ul li a{
	font-size: 18px;
	transition: .5s;
	background: #112c38;
}
div#nav ul:hover li a{
	transform: scale(1.5);
	opacity: .2;
	filter: blur(5px);
}
div#nav ul li a:hover{
	transform: scale(2);
	opacity: 1;
	filter: blur(0);
}
div#nav ul li a:before{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #99844F;
	transition: transform .5s;
	transform-origin: right;
	transform: scaleX(0);
	z-index: -1;
}
div#nav ul li a:hover:before{
	transition: transform .5s;
	transform-origin: left;
	transform: scaleX(1);
	z-index: -1;
}
div#lien ul li a{
	display: block;
	position: relative;
	width: 50px;
	height: 50px;
	line-height: 50px;
	font-size: 20px;
	text-align: center;
	text-decoration: none;
	color: #fff;
	margin: 40px auto;
	border: 1px solid #112c38;
	transition: .5s;
}
div#lien ul li a span{
	position: absolute;
	transition: transform .5s;
}
div#lien ul li a span:nth-child(1), 
div#lien ul li a span:nth-child(3){
	width: 100%;
	height: 1px;
	background: #fff;
}
div#lien ul li a span:nth-child(1){
	top: 0;
	left: 0;
	transform-origin: right;
}
div#lien ul li a:hover span:nth-child(1){
	transform: scaleX(0);
	transform-origin: left;
	transition: transform .5s;
}
div#lien ul li a span:nth-child(3){
	bottom: 0;
	left: 0;
	transform-origin: left;
}
div#lien ul li a:hover span:nth-child(3){
	transform: scaleX(0);
	transform-origin: right;
	transition: transform .5s;
}
div#lien ul li a span:nth-child(2), 
div#lien ul li a span:nth-child(4){
	width: 1px;
	height: 100%;
	background: #fff;
}
div#lien ul li a span:nth-child(2){
	top: 0;
	left: 0;
	transform: scaleY(0);
	transform-origin: bottom;
}
div#lien ul li a:hover span:nth-child(2){
	transform: scaleY(1);
	transform-origin: top;
	transition: transform .5s;
}
div#lien ul li a span:nth-child(4){
	top: 0;
	right: 0;
	transform: scaleY(0);
	transform-origin: top;
}
div#lien ul li a:hover span:nth-child(4){
	transform: scaleY(1);
	transform-origin: bottom;
	transition: transform .5s;
}
}